<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="wrap">
   <div class="search">
       <!-- action='words' take the value input to the word function in the views.py which is accessd through urls.py in dict -->
     <form action="word">
      <input type="text" name="search" class="searchTerm" placeholder="Input Your Word Here">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
    </form>
   </div>
</div>
</body>
</html>